*{
    margin: 0;
    padding: 0;
}
header,
.header {
    width: 100%;
    background-color: #eee;
}

footer,
.footer{
    width: 100%;
    height: 30px;
    margin-top: -30px;
    background-color: #eee;
    text-align: center;
}

.footer-text{
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
    
}

.wrapper{
    width: 100%;
    min-height: 100%;
}

body, html {
  width: 100%;
  height: 100%;

}

.title{
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu{
    background-color: #eee;
    width: 575px;
    margin: auto;
    text-transform: uppercase;
}

.wrapper_menu{
    width: 100%;
    background-color: #eee;
}

.menu li{

    font-size: 16px;
    padding: 20px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.menu ul{
    margin: auto;
    vertical-align: middle; 
}

.menu a{
    text-decoration: none;
}

.menu li:hover{
    background-color: #ddd;
}

.input_block{
    width: 152px;
    margin: auto;
    padding-top: 20px;
}

.close{
    float: right;
    padding: 10px;
    cursor: pointer;
}

.sign_up{
    display: none;
    margin-top: -150px;
    margin-left: -150px;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    background-color: #ddd;
}

.log_in{
    display: none;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px; 
    margin-left: -130px;
    height: 180px;
    width: 260px;
}

.content{
    width: 1000px;
    padding: 10px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
}

.error{
    border: 1px solid red;
}

.error_massage{
    color: red; 
}

input[type="submit"]{
    padding-left: 10px;
    padding-right: 10px;
}

.hide{
    display: none;
}